.git
.gitignore
.venv
venv
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
dist
build
*.egg-info
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3
*.sqlite-journal
*.sqlite3-journal
*.sqlite-wal
*.sqlite3-wal
*.sqlite-shm
*.sqlite3-shm
